Berriart\Bundle\SitemapBundle\Entity\ImageUrl:
    type: entity
    table: berriart_sitemap_image_url
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        loc:
            type: string
            length: 255
            unique: true
        caption:
            type: string
            length: 255
            nullable: true
        geoLocation:
            type: string
            length: 255
            nullable: true
            column: geo_location
        title:
            type: string
            length: 255
            nullable: true
        license:
            type: string
            length: 255
            nullable: true

    manyToOne:
        url:
            targetEntity: Berriart\Bundle\SitemapBundle\Entity\Url
            inversedBy: images
            joinColumn:
                name: url_id
                referencedColumnName: id
